<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    姓名大全
</h1>
<div>
    <table width="300" border="1" cellpadding="0" cellspacing="0">
        {% for x in page %}
        <tr>
            <td>
                姓氏：{{x.family_name}}
            </td>
            <td>
                名字：{{x.name}}
            </td>
        </tr>
        {% endfor %}
    </table>
    <aside class="paging">
        <a>当前{{page.number}}页</a>
            <a href="">第一页</a>
                {% for i in page.paginator.page_range %}
                    <a href="{% url 'app:index' %}?page={{i}}">{{ i }}</a>
                {% endfor %}
            <a href="{% url 'app:index' %}?page={{page.paginator.num_pages}}">最后一页</a>
    </aside>
</div>
</body>
</html>